html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 16%);
}

.axis-box {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    position: fixed;
    z-index: 9999;
    left: 4px;
    bottom: 4px;
    background-color: hsla(0, 0%, 0%, 0.8);
    padding: 2px 6px;
    border-radius: 4px;
}

.country-box {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
.country-box .flag {
    width: 36px !important;
}
.country-box .name {
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0 0 6px hsla(0, 0%, 0%, 0.8);
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 0 6px;
    border-radius: 4px;
    margin-top: 4px;
}