html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 16%);
}

.axis-box {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    position: fixed;
    z-index: 9999;
    left: 4px;
    bottom: 4px;
    background-color: hsla(0, 0%, 0%, 0.8);
    padding: 2px 6px;
    border-radius: 4px;
}

.country-box {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    opacity: var(--country-opacity);
    transition: opacity 0.3s;
}
.country-box .flag {
    width: 36px !important;
}
.country-box .name {
    color: #ffffff;
    font-size: 14px;
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 0 6px;
    margin-top: 4px;
}

.city-box {
    width: 200px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: var(--city-opacity);
    transition: opacity 0.3s;
}

.city-box span {
    display: inline-block;
    padding: 2px 6px;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.point-box {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    opacity: var(--point-opacity);
    transition: opacity 0.3s;
}
.point-box .point {
    height: 22px !important;
}
.point-box .company {
    height: 18px !important;;
}
